/* --- Settings --- */

body {
    background: #FED550;
}

.glace {
    width: 240px;
    height: 350px;
    background: rgb(130, 249, 189);
    border-radius: 4%;
}

.reflet {
    width: 35px;
    height: 70px;
    background: rgb(181, 247, 214);
    border-radius: 10%;
}

.oeil {
    width: 18px;
    height: 18px;
    background: rgb(81, 223, 152);
    border-radius: 100%;
}

.bouche {
    width: 25px;
    height: 25px;
    background: rgb(81, 223, 152);
    border-radius: 50%;
}

.stick {
    width: 60px;
    height: 72px;
    background: #ECAA7D;
    border-top: 12px solid #BD9E74;
}

/* --- Details --- */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glace {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reflet {
    position: relative;
    left: 190px;
    bottom: 42px;
}

.visage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 58px;
}

.yeux {
    display: flex;
    justify-content: space-between;
    width: 145px;
}

.oeil {
    position: relative;
}

.oeil::before {
    display: block;
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 100%;
}